h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 90%;
	margin: auto;
}

thead {
	background-color: aliceblue;
}

tr:nth-child(even) {
	background-color: #f8f5f1;
}

th,
td {
	padding: 5px;
	text-align: left;
}

table,
td,
th {
	border: 1px solid #ddd;
	text-align: left;
}

table td {
	position: relative;
}

table td input,
table td textarea {
	display: block;
	margin: auto;
	height: 90%;
	width: 95%;
	padding: 10px;
	box-sizing: border-box;
}

.hidden {
	display: none;
}
